<h1> Brunch Reviews</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<div class="container color edit-border" ng-show="edit">
    <div id="interview" class="content-section text-center">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <h2 class="addTitle">Edit Blog Post</h2>
            </div>
        </div>
        <!-- RESTAURANT INFO -->
        <div class='row'>
            <div class='col-md-6'>
                <h3>EDIT RESTAURANT INFO</h3>
                <div class='form-group'>
                    <h5>Restaurant Name</h5>
                    <input type='text' ng-model='editReview.restaurantName' id='restaurantName' class='form-control' required>
                </div>
                <div class='form-group'>
                    <h5>Address</h5>
                    <input type='text' ng-model='editReview.address' id='address' class='form-control' required>
                </div>
                <div class='form-gorup'>
                    <h5>Location/Neighboorhood</h5>
                    <input type='text' ng-model='editReview.location' id='location' class='form-control' required>
                </div>
            </div>
            <!-- SOCIAL MEDIA INFO -->
            <div class='col-md-6'>
            <h3> EDIT SOCIAL MEDIA INFO</h3>
                <div class='form-group'>
                    <h5>Website</h5>
                    <input type='text' ng-model='editReview.website' id='website' class='form-control'>
                </div>
                <div class='form-group'>
                    <h5>Instagram</h5>
                    <input type='text' ng-model='editReview.instagram1' id='instagram' class='form-control'>
                </div>
                <div class='form-group'>
                    <h5>Twitter</h5>
                    <input type='text' ng-model='editReview.twitter' id='twitter' class='form-control'>
                </div>
            </div>
        </div>
      </div>

        <!-- REVIEW INFO -->
        <div class='row'>
            <div class='col-md-10 col-md-offset-1'>
            <h3 class='middle'>EDIT REVIEW INFO</h3>
                <div class='form-group'>
                    <h5>Review</h5>
                    <textarea  rows='15' type='text' ng-model='editReview.article' id='article' class='form-control' placeholder='Enter article text here'></textarea>
                </div>
            </div>
        </div>

        <div class='row edit'>
            <div class='col-md-6'>
                <h5>Grade</h5>
                <input type='number' ng-model='editReview.rating' id='rating' class='form-control'>
            </div>
            <div class='col-md-6'>
                <h5>Date Published</h5>
                <input type='text' ng-model='editReview.published' class='form-control' id='published' placeholder='DD/MM/YYYY'>
            </div>
        </div>

        <!-- PHOTO INFO -->

        <div class='row'>
            <div class='col-md-10 col-md-offset-1'>
            <h3 class='middle'>EDIT IMAGE INFO</h3>
                <div class='form-group'>
                    <h5>Review</h5>
                    <input type='text' ng-model='editReview.photos' id='image' class='form-control' placeholder='Enter image URL from s3amazon or whatever we decide to use ex. (https://brunchblog.s3.amazonaws.com/example.jpg)'>
                </div>
            </div>
        </div>

         <div class="row">
            <div class="col-md-10 col-md-offset-1 center-button">
              <div class='btn-group'>
                <span ng-click="editSingleBlogPost(editReview._id); falseScope()" class="btn btn-success btn-lg center edit-button">Edit Blog Post</span>
                <span ng-click="falseScope()" class="btn btn-danger center btn-lg edit-button">Cancel</span>

              </div>
            </div>
        </div>
    </div>




<div class='blog color' id='review._id' ng-repeat='review in reviews'>
  <h1 class='push-middle'>{{review.restaurantName}}</h1>
  <div class='row'>
    <div class='col-md-6'>
        <h5>Date Published: {{review.published}}</h5>
        <h5>Website: <a href= "http://{{review.website}}">{{review.website}}</a></h5>
        <h5>Instagram: <a href="http://{{review.instagram1}}">{{review.instagram1}}</a></h5>
        <h5>Twitter: <a href="http://{{review.twitter}}">{{review.twitter}}</a></h5>



    </div>
    <div class='col-md-6'>
        <h5>Address: {{review.address}}</h5>
        <h5>Location: {{review.location}}</h5>
        <h5>Rating: {{review.rating}}</h5>



    </div>
  <div class='row'>
    <div class='col-md-12'>
      <p>{{review.article}}</p>
        <div class='btn-group center'>
          <button  ng-click='trueScope(); getSingleBlogPost(review._id)' class="btn btn-success border">Edit  <span class="glyphicon glyphicon-pencil"></span></button>
          <button ng-click='deleteBlogPost(review._id)' class="btn btn-danger small border">Delete  <span class="glyphicon glyphicon-remove"></span></button>
        </div>
    </div>
  </div>
</div>




