<h1> Brunch Reviews</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>



<div class='blog' ng-repeat='review in reviews'>
  <h1>{{review.restaurantName}}</h1>
  <div class='row'>
    <div class='col-md-6'>
      <h3>Address: {{review.address}}</h3>
      <h4>Location: {{review.location}}</h4>
      <h3>Rating: {{review.rating}}</h3>
    </div>
    <div class='col-md-6'>
      <h5>Date Published: {{review.published}}</h5>
      <h4>Website: {{review.website}}</h4>
      <h4>Instagram: {{review.instagram1}}</h4>
      <h4>Twitter: {{review.twitter}}</h4>
    </div>
  <div class='row'>
    <div class='col-md-12'>
      <p>{{review.article}}</p>
        <div class='btn-group center'>
          <button ng-if="loggedIn()" class="btn btn-success border">Edit  <span class="glyphicon glyphicon-pencil"></span></button>
          <button ng-if="loggedIn()" class="btn btn-danger small border">Delete  <span class="glyphicon glyphicon-remove"></span></button>
        </div>
    </div>
  </div>
</div>


