
<div class='row'>
        <div class='col-md-6'>
          <h1>Who are we?</h1>
          <p>Just a couple of twenty somethings documenting our adventures in Brunchland. We've been known to enjoy a mimosa...or twelve... </p>
          <img class='main-image' src="../img/brunch-logo.png">
          <img class='second-image' src='../img/left-arrow-icon.jpg'>
        </div>
        <div class='col-md-6'>
          <h1>Grading Scale</h1>
          <h4><em><strong>0-50:</strong></em></h4> <p>This brunch sucks. I would not eat here again nor would I ever recommend it to anyone. It is essentially considered the worst brunch I have ever had and makes me feel like throwing up all of the remnants from last night’s rendezvous.</p>

          <h4><em><strong>51-60:</strong></em></h4> <p>This brunch is bad. It’s eatable, but horrible. The only reason I continue to eat it is to get rid of my hangover.</p>

          <h4><em><strong>61-70:</strong></em></h4> <p> This brunch is “meh.” I can eat it and it tastes okay, but I would not return to this location. It is lacking in notable attributes.</p>

          <h4><em><strong>71-80:</strong></em></h4> <p> This is an average brunch. Tasty, eatable, somewhat pleasing to the eye. Nothing too special, but I am not complaining.</p>

          <h4><em><strong>81-90:</strong></em></h4> <p> I would recommend this restaurant to anyone. It is scrumptious in terms of dishes, variety, service, and is aesthetically pleasing, and is not just a “regular old brunch, but rather an experience!.”</p>

          <h4><em><strong>91-98:</strong></em></h4> <p> This brunch is pretty freakin’ awesome! Will keep coming back, everything was amazing and I will post, tweet, instagram about it for a while. This is place is for real!!!</p>

          <h4><em><strong>99-100:</strong></em></h4> <p> This brunch gets an A+ and I could eat here every damn morning.</p>
        </div>
    </div>

<div  ng-repeat='photo in photos | limitTo: 18'><img class='col-md-8 col-md-offset-1 picture' ng-src="{{photo.images.standard_resolution.url}}"></div>
