<nav class="navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/#/">Brunch Blog</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/#/brunch-reviews">BRUNCH REVIEWS</a></li>
        <li><a href="/#/about">ABOUT</a></li>
        <li><a href="/#/reviewers">REVIEWERS</a></li>
        <li><a href="/#/login">ADMIN LOGIN</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
