.blog {
  border: 3px solid black;
  margin-right: 70px;
  margin-left: 70px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 25px;
}

.center {
  margin-bottom: 10px;
  width: 400px;
  margin-left: 475px;
}

.border {
  border: 1.5px solid black;
}

h4 {
  color: black;
}

.middle {
  text-align: center;
}

.edit {
  margin-right: 70px;
  margin-left: 70px;
}

.edit-button {
  margin-bottom: 40px;
}

.edit-border {
  border: 4px solid royalblue;
  margin-bottom: 40px;
}

.center-button {
  margin-left: 175px;
}

.color {
  background-color: antiquewhite;
}











