.picture {
  height: 30%;
  width: 25%;
  padding: 10px;
  border: 2px solid black;
  margin-top: 5px;
  margin-right: -80px;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
}


