.img {
  height: 32px;
  width: 32px;
  margin-top: -12px;
  margin-left: -15px;

}

img {
  height: 50px;
  width: 50px;
}

a {
  font-size: 1.25em;
}

.title {
  font-size: 2em;
}

.navbar {
  border-bottom: 2px solid black;
}
